/* System Fonts */
@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text');
  font-weight: 600;
} 